vti_encoding:SR|utf8-nl
vti_author:SR|ROOM429\\Smoochy
vti_modifiedby:SR|ROOM429\\Smoochy
vti_timelastmodified:TR|18 Nov 2008 06:11:09 -0000
vti_timecreated:TR|18 Nov 2008 05:36:10 -0000
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|RoyalOakStudios/master.dwt RoyalOakStudios/index.html
vti_nexttolasttimemodified:TW|18 Nov 2008 05:42:23 -0000
vti_cacheddtm:TX|18 Nov 2008 06:11:09 -0000
vti_filesize:IR|209
vti_cachedlinkinfo:VX|Q|styles.css
vti_cachedsvcrellinks:VX|FQUS|RoyalOakStudios/styles/styles.css
