vti_encoding:SR|utf8-nl
vti_author:SR|ROOM429\\Smoochy
vti_modifiedby:SR|ROOM429\\Smoochy
vti_timelastmodified:TR|25 Nov 2008 02:56:28 -0000
vti_timecreated:TR|18 Nov 2008 05:36:21 -0000
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|25 Nov 2008 02:55:44 -0000
vti_cacheddtm:TX|25 Nov 2008 02:56:28 -0000
vti_filesize:IR|1319
vti_cachedlinkinfo:VX|S|images/banner-splice-gray.jpg S|images/nav_bottom-gray.gif
vti_cachedsvcrellinks:VX|FSUS|RoyalOakStudios/styles/images/banner-splice-gray.jpg FSUS|RoyalOakStudios/styles/images/nav_bottom-gray.gif
