vti_encoding:SR|utf8-nl
vti_author:SR|SATAN\\Tara
vti_modifiedby:SR|ROOM429\\Smoochy
vti_timelastmodified:TR|25 Nov 2008 03:57:07 -0000
vti_timecreated:TR|24 Nov 2008 19:33:12 -0000
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|New_Folder/index.html
vti_nexttolasttimemodified:TW|25 Nov 2008 03:56:15 -0000
vti_cacheddtm:TX|25 Nov 2008 03:57:07 -0000
vti_filesize:IR|3792
vti_cachedlinkinfo:VX|S|images/taba2.jpg S|images/taba.jpg S|images/tabb2.jpg S|images/tabb.jpg S|images/mountains.jpg
vti_cachedsvcrellinks:VX|FSUS|RoyalOakStudios/blue/images/taba2.jpg FSUS|RoyalOakStudios/blue/images/taba.jpg FSUS|RoyalOakStudios/blue/images/tabb2.jpg FSUS|RoyalOakStudios/blue/images/tabb.jpg FSUS|RoyalOakStudios/blue/images/mountains.jpg
