vti_encoding:SR|utf8-nl
vti_author:SR|SATAN\\Tara
vti_modifiedby:SR|ROOM429\\Smoochy
vti_timelastmodified:TR|01 Dec 2008 22:14:35 -0000
vti_timecreated:TR|24 Nov 2008 19:33:12 -0000
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|RoyalOakStudios/master.dwt RoyalOakStudios/contact.html RoyalOakStudios/about.html New_Folder/index.html RoyalOakStudios/services.html RoyalOakStudios/index.html RoyalOakStudios/portfolio.html
vti_nexttolasttimemodified:TW|01 Dec 2008 22:12:21 -0000
vti_cacheddtm:TX|01 Dec 2008 22:14:35 -0000
vti_filesize:IR|4065
vti_cachedlinkinfo:VX|S|images/taba2.jpg S|images/taba.jpg S|images/tabb2.jpg S|images/tabb.jpg
vti_cachedsvcrellinks:VX|FSUS|RoyalOakStudios/images/taba2.jpg FSUS|RoyalOakStudios/images/taba.jpg FSUS|RoyalOakStudios/images/tabb2.jpg FSUS|RoyalOakStudios/images/tabb.jpg
